<!DOCTYPE html>
<html>
  <head>
    <title>The People's Colloquium</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <%= yield %>

    <%= render "layouts/login_modal" %>
  </body>
</html>
